.contact {
  text-align: right;
  padding: 2em;
}

.contact span {
  margin: 0.5em;
}

#logo > img {
  width: 240px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background:
    linear-gradient(rgba(81, 112, 221, 0.6), rgba(81, 112, 221, 0.6)),
    url(https://www.bankjoy.com/assets/images/backgrounds/background.jpg);
  font-family: sourcesanspro;
}

#first {
  text-align: center;
  margin: 2vw;
  color: white;
  font-size: 60px;
  font-weight: 200;
}

#second {
  text-align: center;
  margin-bottom: 60px;
  color: white;
  font-size: 14;
  font-weight: 500;
  opacity: 0.5;
}

#button {
  text-align: center;
  margin: 2vw;
  font-family: inherit;
}

@font-face {
  font-family: sourcesanspro;
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

.phones {
  display: inline-block;
  background: none;
  width: 90px;
  height: 70%;
  float: left;
  margin: 2px;
}

#phone-center {
  position: relative;
  left: 25%;
  z-index: 10;
}

#phone-left {
  position: relative;
  top: 100px;
  z-index: -10;
}

#phone-right {
  position: relative;
  left: 25%;
  top: 100px;
  z-index: -10;
}
