.contact {
  text-align: right;
  padding: 2em;
}

.contact span {
  margin: 0.5em;
}

#logo > img {
  width: 240px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background:
    linear-gradient(rgba(81, 112, 221, 0.6), rgba(81, 112, 221, 0.6)),
    url(https://www.bankjoy.com/assets/images/backgrounds/background.jpg);
  font-family: sourcesanspro;
  position: relative;
}

#first {
  text-align: center;
  margin: 2vw;
  color: white;
  font-size: 60px;
  font-weight: 200;
}

#second {
  text-align: center;
  margin-bottom: 60px;
  color: white;
  font-size: 14;
  font-weight: 500;
  opacity: 0.5;
}

#button {
  text-align: center;
  margin: 2vw;
}

@font-face {
  font-family: sourcesanspro;
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}

.shadow-right {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  right: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 40px 50px 200px black;
  z-index: 30;
}

.shadow-left {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  left: 320%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 1px 300px black;
  z-index: 30;
}

.phones {
  display: inline-block;
  position: relative;
  background: none;
  width: 90px;
  height: 70%;
}

#phone-center {
  margin-left: auto;
  margin-right: auto;
  left: 34%;
  z-index: 10;
}

#phone-left {
  margin-left: auto;
  margin-right: auto;
  right: -5%;
  top: 20px;
  z-index: -10;
}

#phone-right {
  margin-left: auto;
  margin-right: auto;
  left: 45%;
  top: 20px;
  z-index: -10;
}
