.contact {
  text-align: right;
  padding: 2em;
}

.contact span {
  margin: 0.5em;
}

#logo > img {
  width: 240px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background:
    linear-gradient(rgba(81, 112, 221, 0.6), rgba(81, 112, 221, 0.6)),
    url(https://www.bankjoy.com/assets/images/backgrounds/background.jpg);
  font-family: sourcesanspro;
}

#first {
  text-align: center;
  margin: 2vw;
  color: white;
  font-size: 60px;
  font-weight: 200;
}

#second {
  text-align: center;
  margin-bottom: 60px;
  color: white;
  font-size: 14;
  font-weight: 500;
  opacity: 0.5;
}

#button {
  text-align: center;
  margin: 2vw;
  font-family: inherit;
}

#fourth {
  text-align: center;
}

#fourth > img {
  width: 330px;
  z-index: 3;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
}

@font-face {
  font-family: sourcesanspro;
  src: url(fonts/SourceSansPro-ExtraLight.otf);
}
